{% if index %}
  {% unless post.hidden %}
    <h2 class="title">
      {% if post.external-url %}
      <a href="{{ post.external-url }}">
      {% else %}
      <a href="{{ root_url }}{{ post.url }}">
      {% endif %}
      {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>

      <span class="date">{% include post/date.html %}{{ time }}</span>
    </h2>
  {% endunless %}
{% else %}
  <div>
    <h2 class="title">
      {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
      <span class="date">{% include post/date.html %}{{ time }}</span>
    </h2>

    <div class="entry-content">{{ content }}</div>
  </div>
{% endif %}
