<h3>
  <a href="{{ root_url }}/">{{ site.title }}</a>

  <ul>
    {% if site.github_user && site.github_show_profile_link %}
    <li>
      <a href="https://github.com/{{site.github_user}}">
        <i class="fa fa-github"></i>
      </a>
    </li>
    {% endif %}
    {% if site.twitter_user %}
    <li>
      <a href="https://twitter.com/{{site.twitter_user}}">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    {% endif %}
    {% if site.flickr_user %}
    <li>
      <a href="https://flickr.com/{{site.flickr_user}}">
        <i class="fa fa-flickr"></i>
      </a>
    </li>
    {% endif %}
    {% if site.linkedin_link %}
    <li>
      <a href="{{site.linkedin_link}}">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</h3>

{% include custom/header.html %}
